body{
    box-sizing: border-box;
    
    /* align-content: center;
    align-items: center;
    justify-items: center;
    justify-items: center; */
}
form{
    display: flex;
}
div{
    height: 30vh;
    width: 20vw;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-items: center; 
    display: flex;
    flex-direction: column;
}
img{
    height: 30vh;
    width: 20vw;
}
p{
    /* align-content: center;
    align-items: center;
    justify-items: center;
    justify-items: center;   */
}
#co{
    margin-top : 50px;
    position:relative;
}