*{
    box-sizing: border-box;
    text-align: center;
}
div h1 {
    color: rgb(86, 26, 116);
}
.container{
    display: flex;
    justify-content: center;
    padding: 5vw;
    grid-gap:10vw ;
}

img{
    /* position:absolute; */
    width:25px;
    /* bottom: 40px; */
    margin-bottom: -15px;
    color: blue;
    
}
div h6 ,.pink{
    background-color: pink;
    /* height: 40px; */
    border:solid 10px pink;
    margin: 0;
    
}
.container2{
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding: 5vw;
    height: 400px;
    grid-gap:10vw ;
}
.review{
    /* position: relative; */
    height: 400px;
}
.r1 {
    align-items: flex-start;
    align-content: flex-end;
}
.r3{
    justify-content: flex-end;
}
@media all and (max-width: 480px) { 
.container{
    flex-direction: column;
}
.container2{
    flex-wrap: wrap;
}
}