header {
    
    border: 5px; 
    mask-border-width: 28px;
    border-style: dashed;
    margin: 25px;
    /* display: flex; */
}
p {
    /* border: 5px ridge; */
}
#ds{
    /* flex: 1; */
    /* border: 5px dotted; */
    margin-top: 45%;
    padding: 50;
}
.ads{
    flex: 1;
    /* margin-top: 45%; */
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 8em; */
    /* border: 5px dotted; */

}
.cantainer {
    display: flex;
    /* display: inline; */
    ;
    margin-bottom: 20px;
    margin-right: 25px;
    
}
body{
    background-color: rgb(210, 249, 249);
}
h1 {
    text-align: center;
    /* margin: auto; */
}
img {
    display: inline-block;
    margin: 25px 10px;
    }
.ads{
    
   text-align: center; 
   border: 5px dotted;
   padding: 20px;
   margin-right:60px ;
   margin-left:60px ;
   margin-top:20% ;

}
.right {
    position:absolute; 
    top:44px; 
    right:60px;
    /* border: 1px solid rgba(144, 245, 245.5); */
    /* background-color: aquamarine;    */
    border: 3px ridge
}
.left {
    text-decoration: none;
    /* justify-content: space-between; */
    position: relative; 
    top:15px; 
    left:25px; 
    /* border: 1px ridge rga(144, 245, 245.5); */
    /* border-color: black; */
    /* border:solid */
    /* background-color: aquamarine;   */
}
.btn, {
    /* display: inline-block;  */
    /* color: rgb(126, 39, 39); */
    background-color: none
    
    /* padding: 15px 25px; */
}
.right, .left {
    /* display: row; */
    /* display: inline-block; */
    background-color: rgb(144, 245, 245);
    /* padding: 5%; */
    border: 3px ridge rgb(144, 245, 245);
}
.right :hover {
    transition: transform,padding .5s
    background-color: rgb(144, 245, 245);

}
.pic-zadie {
    width: 200px;
    height: 300px;
}
.line {
    /* justify-content: space-between; */
}
article {
    /* border-color: rgb(1, 255, 255) 1px; */
    text-align: center;
    /* border:solid; */
    padding-left: 15%;
    padding-right: 15%;
}
.pic-twin {
    width: 220px;
    height: 300px;
}
.first {
    background-color:  rgb(144, 245, 245);
    border:solid 4px;
    /* border-radius: 2px ,5pc; */
}
.btm-art{
    border: 1px double;
    margin-right: 25px;
    margin-left: 25px;
    /* border-bottom: -1px; */
    
}
/* .top
{border-top: solid ; */
/* } */