body {
	box-sizing: border-box;
	margin: 0;
	display:flex;
	background-color: red;
	
}

.player1{
	width:  50vw;
	height:  100vh;
	box-sizing: border-box;
	border: solid black 1px;
	background-color: blue;
	color: pink;
}

#player2{
	width:  50vw;
	height:  100vh;
	box-sizing: border-box;

}