*{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns:  5% 15% 5% ;
    /* margin-left: 20px; */
}
.container-colom{
    display: flex;
    flex-direction: column;
    /* margin-left: -25px: ; */
}
.box {
    width: 20px;
    height: 20px;
    /* color: yellow; */
    background-color: yellow;
    margin: 5px;

}
.container-row{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* margin: px; */
}
.box-2{
    margin-right: 25px;
}
.left{
    : 30px;
}